<footer>
    <div class="container-footer">
        <p>© 2026 Airbnb, Inc.</p>
        <div class="footer-links">
            <a href="">Privacy Policies</a>
            <a href="">Terms of Service</a>
        </div>
    </div>
</footer>